<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="__STATIC__/admin/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="main">
    <div class="menu-sub">
        <span class="on"><a href="#1">菜单1</a></span>
        <span><a href="#1">菜单2</a></span>
        <span>菜单3</span>
        <span>菜单4</span>
        <span>菜单5</span>
        <span>菜单6</span>
        <span>菜单7</span>
    </div>
    <div class="content">

    </div>
</div>

</body>
</html>